.move-line {
    width: 45%;
    position: fixed;
    bottom: 25px;
    height: 5px;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.move-line__active {
    width: 33%;
    height: 7px;
    border-radius: 2px;
}

.active {
    background-color: black;
}


.s_panel__base_bg__slider .slick-prev {
    left: -1.5rem;
    transform: rotate(90deg);
}

.s_panel__base_bg__slider .slick-next {
    right: -1.5rem;
    transform: rotate(270deg);
}

.s_panel__base_bg__slider .slick-arrow {
    top: 50%;
    height: 22px;
    width: 13px;
    margin-top: -12px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url('../images/svg/arrow-black.svg');
    background-repeat: no-repeat;
}

.slider-small {
    display: none;
}

/* ------------------------------
		TABLET (768px)
------------------------------ */

@media only screen and (max-width: 768px) {
    .move-line {
        /* display: none; */
    }
    .slider-small {
        position: relative;
        top: -300px;
        background-color: #a300ff;
        padding: 10px 0px;
        margin-left: 5px;
    }
    .slider-small .slider__image {
        width: 30px;
        height: 40px;
    }
    .slider-small .slick-prev,
    .slider-small .slick-prev{
        left: -1rem;
        transform: rotate(180deg);
    }
    .slider-small .slick-next,
    .slider-small .slick-next {
        right: .5rem;
        transform: rotate(-90deg);
    }

        
    .slider-small .slick-arrow,
    .slider-small .slick-arrow {
    top: 50%;
    height: 22px;
    width: 13px;
    margin-top: -12px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    }
    .slider-small .slick-prev {
        left: -12px;
        transform: rotate(90deg);
    }


}

/* ------------------------------
		DESKTOP (1200px)
------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 1200px) {

}